
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Franklin Gothic Medium';
}

p{
    font-family: monospace;
    font-size: 14px;
}
.sidebar {
    width: 10%;
    min-width: 15ch;
    border-right: 3px solid black;
    text-align: right;
    padding-right: 5px;
}

header{
    padding: 0px;
    background-color: rgb(98, 49, 49);
    color: rgb(250, 249, 249);
    overflow: hidden;
}

header h1 {
    display: inline-block;
    background-color: rgb(40, 119, 119);
    padding-left: 55px;
    margin: 0px 0px 8px 0px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;

}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
header a {
    color: #189797;
    text-decoration: underline;
    font-size: 20px;
}
.hero {
    position: relative;
    height: 200px;
    background-image: url(./images/banner.webp);
    max-width: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;
}

.hero h2 {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: black;
    background-color: aquamarine;
}
/* end of hero background */

/* start of profile picture */

.profile-image{
      display: grid;
      place-items: center;
      padding-bottom: 20px;
}

/* End of profile picture */

/* start of content sidebar */

.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.about-me-content {
    width: 75%;
    min-width: 30ch;
}

.content-work-img {
    width: 75%;
    min-width: 30ch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    overflow: hidden;
}

footer h2 {
    flex-wrap: wrap;
}
footer nav {
    padding-top: 15px;
    margin-right: 20px;
    float: left;
}

footer ul li {
    list-style-type: none;
    overflow: hidden;
    display: inline;
    margin: 10px;
}

footer a{
    color: #189797;
    text-decoration: underline;
    margin: 5px;
    font-size: 30px;
}

@media screen and (min-width: 992px) {
    header {
    width: 100%;
    }
    .about-me-content {
        margin-right: 5em;
        margin-left: 5em;
        width: 90%;
    }
    media screen and (max-width: 992px) {
        .resume-section {
             margin-right:auto;
             height: 100%;
             width: 100%;
         }
     }
     .profile-image {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    header {
       text-align: center;
        width: 100%;
    }
    .about-me-content {
        margin-right: 10em;
        margin-left: 10em;
        width: 90%;
    }
    .content-work-img {
        width: 65%;
    }
    .flex-container nav{
        margin: -11px;
    }
}
@media screen and (max-width: 450px) {
    .about-me-content {
        margin-right: 5em;
        margin-left: 5em;
        width: 90%;
    }
    .content-work-img {
        width: auto;
    }
    .hero h2{
        margin: 15px;
        right: -5px;
    }
    .flex-container nav a{
        margin: -11px;
        font-size: 20px;
    }
}
